{% extends 'today_applications.html' %}

{% block content %}

    {% block choosedate %}
    <div class="container">
        <div class="btn-group position-relative start-50 top-0 translate-middle ">
            {% if cw_day == nw_day %}
                <a href="{% url 'show_today_materials' lw_day %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <<</a>
                <input class="form-control io_current_day border-success border border-3" type="date"   value="{{ cw_day }}"/>
            {% else %}
                <input class="form-control io_current_day border-success border border-3"  type="date"  value="{{ cw_day }}"/>
                <a href="{% url 'show_today_materials' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
            {% endif %}
        </div>
    <div class="position-absolute translate-middle  start-50  mb-2 text-nowrap"><b class="fs-5">{{ WEEKDAY }}, {{ DAY }}</b></div>
    </div>
    {% endblock %}
<div></div>
<div class="container-lg  mx-auto mt-4">

<div class="btn-group dropend">
    <button type="button" class="btn btn-outline-secondary ms-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-filter"></i> Фильтр</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'show_today_materials' cw_day 0 %}">Все</a></li>
            <hr>
            {% for forem in foreman_list %}
            <li><a class="dropdown-item" href="{% url 'show_today_materials' cw_day forem.user_post.id %}">{{ forem.user_post.last_name }} {{ forem.user_post.first_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
      {% for m in materials_list %}
    <div class="card shadow-lg m-2" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">
        <ul class="container-fluid" >
                <div class="  " id="vehicle_list">
                    <label class="ms-1 fw-bold">{{ m.app_for_day.construction_site.address}} ({{ m.app_for_day.construction_site.foreman.last_name }})  </label>
                        <div class=" conteiner-fluid form-floating row mt-1 ">
                            <div class="input-group form-floating p-0">
                               <textarea  readonly class="form-control app_description" aria-label="With textarea" id="floatingInputValue" name="descr">{{ m.description }}</textarea>
                            </div>
                        </div>
                </div>
        </ul>
      </div>
    </div>
      {% endfor %}

</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/today_application.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
    <a href="{% url 'application_list' cw_day %}" class="btn btn-primary col-auto  m-1" aria-current="page">Назад</a>
    <a href="{% url 'show_today_applications' cw_day %}" class="btn btn-info col-auto m-1" aria-current="page">Техника</a>
</div>
{% endblock %}
