{% extends 'main.html' %}

{% block content %}

{% block choosedate %}
    <div class="container">
        <div class="btn-group position-relative start-50 translate-middle-x">
            {% if cw_day == nw_day %}
                <a href="{% url 'supply_materials' lw_day %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <<</a>
                <input class="form-control io_current_day border-success border border-3"  type="date"   value="{{ cw_day }}"/>
            {% else %}
                <input class="form-control io_current_day border-success border border-3"  type="date"  value="{{ cw_day }}"/>
                <a href="{% url 'supply_materials' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
            {% endif %}
        </div>
    <div class="position-absolute translate-middle-x  start-50  mb-3 text-nowrap"><b class="fs-5">{{ WEEKDAY }}, {{ DAY }}</b></div>
    </div>
    {% endblock %}


<div class="container mx-auto  ">
    <div class="container mt-5" >
        <div class=" {% if status_checked and materials_list %}border border-4 border-success  {% endif %} ">
        <form method="post" id="material_form" enctype="multipart/form-data">{% csrf_token %}
        {% for a in materials_list %}
        <div class="col-auto mb-3">



          <div class="container mt-1" >
            <h6 class=" fw-bold text-center">{{a.app_for_day__construction_site__address}} ({{ a.app_for_day__construction_site__foreman__last_name }})</h6>

            {% if a.description  %}
                <input type="hidden" name="materials_id" value="{{ a.id }}">
              <textarea class="form-control app_description" name="materials_description">{{ a.description }}</textarea>

          {% endif %}

          </div>
        </div>
        {% endfor %}
        </form>
    </div>
    </div>
</div>
{% csrf_token %}


{% endblock %}

{% block tab %}
<div class="position-fixed start-0 top-50 translate-middle-y btn-group-vertical-sm" style="margin-left: -10px; width: 3.2rem">
    <a  id="btn_show_tech" href="{% url 'supply_app' cw_day %}" style=" text-orientation: upright; writing-mode: vertical-rl; " class=" btn btn-sm  btn-outline-secondary" aria-current="page">Техника</a>
    <a  id="btn_show_mater" href="{% url 'supply_materials' cw_day %}"   style="text-orientation: upright; writing-mode: vertical-rl;" class=" btn btn-sm  btn-outline-success active " aria-current="page">Материалы</a>
</div>
{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/supply_app_materials.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
    <a  class="btn btn_print btn-primary " aria-current="page"><i class="fa-solid fa-print"></i> Печать</a>
    <a class="btn  btn_status_check {% if status_checked %} btn-outline-secondary {% else %} btn-warning {% endif %}" aria-current="page"><i class="fa-solid fa-check"></i> Одобрить</a>
    <input form="material_form" class="btn btn-success  col-auto   " type="submit" value="Сохранить изменения">

{#<a href="{% url 'supply_today_app' cw_day %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page">Настройка приоритета</a>#}
{##}
{#<a href="{% url 'show_today_applications' cw_day  %}"  class="btn  btn-outline-secondary active" aria-current="page">Все заявки</a>#}

{#<button role="button" class="btn_panel btn btn-outline-light  col-auto position-absolute end-0 m-2"><i class="fa-solid fa-list"></i> </button>#}
</div>
{% endblock %}