{% extends 'main.html' %}

{% block content %}

{% block choosedate %}
    <div class="container">
        <div class="btn-group position-relative start-50 translate-middle-x">
            {% if cw_day == nw_day %}
                <a href="{% url 'supply_materials' lw_day %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <<</a>
                <input class="form-control io_current_day border-success border border-3"  type="date"   value="{{ cw_day }}"/>
            {% else %}
                <input class="form-control io_current_day border-success border border-3"  type="date"  value="{{ cw_day }}"/>
                <a href="{% url 'supply_materials' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
            {% endif %}
        </div>
    <div class="position-absolute translate-middle-x  start-50  mb-3 text-nowrap"><b class="fs-5">{{ WEEKDAY }}, {{ DAY }}</b></div>
    </div>
    {% endblock %}


<div class="container mx-auto  ">
    <div class="container mt-5" >
        <div class=" ">
        <form method="post" id="material_form" enctype="multipart/form-data">{% csrf_token %}
        {% for a in materials_list %}
        <div class="col-auto mb-3">



          <div id="div{{ a.id }}" class="container mt-1 {% if a.status_checked %} border border-2 border-success{% endif %}" >
            <h6 class=" fw-bold text-center">{{a.app_for_day__construction_site__address}} ({{ a.app_for_day__construction_site__foreman__last_name }})</h6>

            {% if a.description  %}
                <input type="hidden" name="materials_id" value="{{ a.id }}">
              <textarea id="{{ a.id }}" class="form-control app_description" name="materials_description">{{ a.description }}</textarea>

          {% endif %}

          </div>
        </div>
        {% endfor %}
        </form>
    </div>
    </div>
</div>
{% csrf_token %}


{% endblock %}

{% block tab %}
<div class="position-fixed start-0 top-50 translate-middle-y btn-group-vertical-sm" style="margin-left: -10px; width: 3.2rem">
    <a  id="btn_show_tech" href="{% url 'supply_app' cw_day %}" style=" text-orientation: upright; writing-mode: vertical-rl; " class=" btn btn-sm  btn-outline-secondary" aria-current="page">Техника</a>
    <a  id="btn_show_mater" href="{% url 'supply_materials' cw_day %}"   style="text-orientation: upright; writing-mode: vertical-rl;" class=" btn btn-sm  btn-outline-success active " aria-current="page">Материалы</a>
</div>
{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/supply_app_materials.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
    <a  class="btn btn_print btn-primary " aria-current="page"><i class="fa-solid fa-print"></i> Печать</a>

    <input id="btn_save" form="material_form" class="btn {% if status_checked %} btn-outline-success {% else %} btn-danger {% endif %}  col-auto " type="submit" value="Потвердить">


</div>
{% endblock %}