{% extends 'base.html' %}
{% block meta %}<meta http-equiv="refresh" content="10" >{% endblock %}
{% block content %}

    {% block choosedate %}
    <div class="container-fluid  ">
        <div class="btn-group position-relative start-50 translate-middle">
            {% if cw_day == nw_day %}
                <a href="{% url 'application_for_driver' lw_day current_user.id %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <<</a>
                <input class="form-control io_current_day border-success border border-3" id="{{ current_user.id }}" type="date"   value="{{ cw_day }}"/>
            {% else %}
                <input class="form-control io_current_day border-success border border-3" id="{{ current_user.id }}"  type="date"  value="{{ cw_day }}"/>
                <a href="{% url 'application_for_driver' nw_day current_user.id %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
            {% endif %}
        </div>
    <div class="position-absolute translate-middle  start-50  mb-2 text-nowrap"><b class="fs-5">{{ WEEKDAY }}, {{ DAY }}</b></div>
    </div>
    {% endblock %}

<div class="container-lg  mx-auto  mt-4"  >
    <div class="card shadow-lg" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">

        <p class="card-text">
            <b class="fs-5">{{ DAY }},</b>
            <br>
            <b class="fs-5">{{ current_user.last_name }} {{ current_user.first_name }}</b>
            <hr>
        </p>

        <ul class="container-fluid" >
            {% for v in applications %}
                <div class=" mb-3" id="vehicle_list">
                    <label  class= "fw-bold start-50">{{ v.priority }}){% if v.app_for_day.construction_site.address %} - {{ v.app_for_day.construction_site.address }} ({{ v.app_for_day.construction_site.foreman }}){% endif %}</label>
                    <textarea class="app_description form-control app_description mb-2" id="floatingInputValue" disabled rows="1">{{ v.description }}</textarea>
                </div>
            {% endfor %}
        </ul>

      </div>
    </div>
</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/application_for_driver.js" %}"></script>
{% endblock %}


{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
{% if post == 'admin' %}
    <a href="{% url 'driver_app_list' cw_day  %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page">Назад</a>
{% endif %}

<a href="{% url 'show_today_applications' cw_day  %}" class="btn btn-outline-secondary active m-1" aria-current="page">Все заявки на {{ DAY }}</a>
</div>


{% endblock %}