{% extends 'base.html' %}

{% if var_reload_main_page.value %}{% block meta %}
    <meta http-equiv="refresh" content="{{ var_reload_main_page.value }}; URL={% url 'application_list' nw_day %}">
{% endblock %}{% endif %}


{% block content %}{% csrf_token %}
    {% block choosedate %}
        <div class="container-fluid">
            <div class="btn-group position-relative start-50 top-0 translate-middle-x">
                {% if cw_day == nw_day %}
                    <a href="{% url 'application_list' lw_day %}" class="btn fw-light text-nowrap"
                       aria-current="page">{{ lw_day }} <<</a>
                    <input class="form-control io_current_day border-success border border-3 p-0" type="date"
                           value="{{ cw_day }}"/>
                {% else %}
                    <input class="form-control io_current_day border-success border border-3 p-0" type="date"
                           value="{{ cw_day }}"/>
                    <a href="{% url 'application_list' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
                {% endif %}
            </div>
            <div class="position-absolute translate-middle-x  start-50  mb-2 text-nowrap p-0">
                <b class="fs-5">Архив за: {{ DAY }}</b>
            </div>
        </div>
    {% endblock %}
    
    <div>
        <div id="container" class="container-fluid mt-5 ms-5" style="width: inherit">
            {% for app_td in apps %}
                <div id="per_{{ a.app_today.id }}" class="item">
                    <div id="{{ a.app_today.id }}" class="me-3 mb-4">
                        <div class="card shadow-lg" style="width: 20rem;  background-color: rgba(248,248,247,0.75); ">
                            <div class="card-body w-100 p-0 pt-3">
                                <h6 class="card-title  fw-bold text-center "
                                    style="color:{{ style_font_color.value }};">
                                    {% if app_td.construction_site.address %}
                                        {{ app_td.construction_site.address }}{% endif %}
                                    {% if app_td.construction_site.foreman.last_name %}(
                                        {{ app_td.construction_site.foreman.last_name }}){% endif %}</h6>
                                <h6 class="card-title text-center">{{ app_td.date }}</h6>
                                {% if app_td.description %}
                                    <hr class="m-0">
                                    <label class="small position-relative start-50 translate-middle-x fw-bold text-center">Примечание
                                        к объекту</label>
                                    <textarea readonly
                                              class="form-control app_description ms-0">{{ app_td.description }}</textarea>
                                {% endif %}

                                {% if app_td.applications_technic %}
                                    <hr class="mt-1 mb-0" style="border-width: medium; border-color: #0fb70f">
                                    <h6 class="card-text mt-1 ms-2"><label><b>Список техники:</b></label></h6>
                                    {% for v in app_td.applications_technic %}
                                        <div class="row mt-1 ms-2">
                                            <div class="card-text fs-6 col-auto mt-0 technic_name_link
                                                {% if not v.technic_driver.status %}
                                                    text-decoration-line-through
                                                {% endif %}">{{ v.technic_driver.technic.name }}
                                            </div>
                                            <div class="card-text fs-6 col-auto driver_name_link mt-0
                            {% if not  v.technic_driver.driver.status %}
                                text-warning">(Водитель не назначен){{ v.technic_driver.driver.driver.last_name }}
                                            {% else %}
                                                "> ({{ v.technic_driver.driver.driver.last_name }}) [
                                                <b>{{ v.priority }}</b>]
                                            {% endif %}
                                            </div>
                                        </div>

                                        {% if v.description %}
                                            <textarea class="form-control app_description shadow-sm " readonly
                                                      {% if v.var_check %}style="color: rgba(7,1,1,0.26)"{% endif %}>{{ v.description }}</textarea>
                                        {% endif %}
                                        <hr class="m-0 mt-1" style="border-width: medium; border-color: rgba(0,0,0,0)">
                                    {% endfor %}
                                {% endif %}

                                {% if app_td.applications_material %}
                                    {% for am in app_td.applications_material %}
                                        <div class="card-text ms-2 mt-0"><label><b>Список материалов:</b>
                                        </label></div>
                                        <textarea class="form-control app_description"
                                                  readonly>{{ am.description }}</textarea>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if not status_day %}
            <div class="card position-relative start-50 translate-middle-x shadow-lg" style="width: 18rem;">
                <p class="card-text text-center fs-5">{{ WEEKDAY }}, {{ DAY }}
                    <br>Выходной день.
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/main.js" %}"></script>
{% endblock %}

{% block tab %}

    <a href="#" id="btn_find" style="margin-top: 6rem; margin-left: -0.4rem;"
       class="btn btn-outline-primary position-fixed" aria-current="page"><i
            class="fa-solid fa-magnifying-glass"></i></a>




{% endblock %}

{% block bottom_panel %}
    <div class="d-flex  align-items-center">
        <a href="#" class="btn position-relative translate-middle-x start-50 btn-outline-secondary active"
           aria-current="page">Все заявки</a>
    </div>
{% endblock %}

