{% extends 'base.html' %}

{% block content %}

<div class="container  m-3 mx-auto">
      <div><div class="fw-bold fs-4">Резервные копии</div><hr>

        <table class="table w-auto mx-auto table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Время</th>
      <th scope="col"></th>
      <th scope="col" hidden>id</th>

    </tr>
  </thead>
        {% if list_backup %}
  <tbody>{% for backup in list_backup %}

    <tr id="row_{{ forloop.counter }}" class="setting_row" >
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ backup.ctime }}</td>

      <td><a ondblclick="location.href = '/restore_db/{{ backup.isoformat }}'; return false;" class="btn btn-outline-success btn-sm col-auto m-1" aria-current="page">Востановить</a></td>
      <td hidden><input name="setting_id" type="hidden" value="{{ setting.id }}"></td>

    </tr>
    {% endfor %}
  </tbody>
            {% endif %}

{% if list_backup24 %}
  <tbody class="border border-3 border-info">{% for backup in list_backup24 %}

    <tr id="row_{{ forloop.counter }}" class="setting_row" >
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ backup.date }} {{ backup.time }}</td>

      <td><a ondblclick="location.href = '/restore24_db/{{ backup.isoformat }}'; return false;" class="btn btn-outline-success btn-sm col-auto m-1" aria-current="page">Востановить</a></td>
      <td hidden><input name="setting_id" type="hidden" value="{{ setting.id }}"></td>

    </tr>
    {% endfor %}
  </tbody>
{% endif %}
</table>




      </div>
      </div>
    </div>


</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/setting_page.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'start_page'  %}" class="btn btn-outline-primary active  col-auto m-0" aria-current="page">Назад</a>
    <a href="{% url 'create_backup'  %}" class="btn btn-warning  col-auto m-0" aria-current="page">Создать резервную копию</a>
<a ondblclick="location.href = '/clear_db_backup/'; return false;" class="btn btn-outline-danger  col-auto m-0" aria-current="page">Отчистить все</a>
</div>
{% endblock %}