{% extends 'base.html' %}

{% block content %}

<section class="container mt-5" style="width: 300px">

    <form  method="post">{% csrf_token %}
        <div>
            <label>Введите вашу фамилию:</label>
            <div class="btn-group">
                <input type="text" class="form-control" placeholder="например: Петров" name="last_name">
                <button type="submit" class="btn btn-primary">поиск</button>
            </div>
        </div>

    </form>
    <br>
        {% if fu %}
            {% for p in fu %}
            <a href="{% url 'restore_pwd' p.3 %}" class="btn btn-outline-primary">{{ p.0 }} {{ p.1 }}  {% if p.2 != None %}[{{ p.2 }}]{% endif %}</a>
            <br>
            {% endfor %}
{#        {% else %}#}
{#            Данный пользователь не найден!#}
        {% endif %}

    {% if id_user %}
        <script>

            alert('Ваш пароль был сброшен на стандартный: 1234 ');
            location.href = "{% url 'sign_in' %}";
        </script>
    {% endif %}


</section>

{% endblock %}