{% extends 'base.html' %}

{% block content %}

<div class="container-sm m-3 mx-auto">
      <div><div class="fw-bold fs-4">Настройки</div><hr>
    <form method="post" id="setting_form" enctype="multipart/form-data">{% csrf_token %}
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Значение</th>
      <th scope="col">Время</th>
      <th scope="col">Дата</th>
      <th scope="col">Флаг</th>
      <th scope="col">Описание</th>
      <th scope="col" hidden>id</th>

    </tr>
  </thead>
  <tbody>{% for setting in setting_list %}

    <tr id="row_{{ forloop.counter }}" class="setting_row {% if not setting.user %} border border-success{% endif %}" >
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ setting.name }}</td>
      <td><input class="form-control" type="text" name="setting_value_{{ forloop.counter }}" value="{{ setting.value }}" /></td>
      <td><input class="form-control" type="time" name="setting_time_{{ forloop.counter }}" value="{{ setting.time }}"></td>
      <td><input class="form-control" type="date" name="setting_date_{{ forloop.counter }}" value="{{ setting.date.isoformat }}"></td>
      <td><input {% if setting.flag %} checked {% endif %} id="inp_{{ forloop.counter }}" type="checkbox" name="setting_flag_{{ forloop.counter }}"/></td>
      <td>{{ setting.description }}</td>
      <td hidden><input name="setting_id" type="hidden" value="{{ setting.id }}"></td>

    </tr>
    {% endfor %}
  </tbody>
</table>

    </form>

      </div>
      </div>
    </div>


</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/setting_page.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'start_page'  %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page">Назад</a>

  <input form="setting_form" class="btn btn-success  col-auto " type="submit" value="Сохранить">
</div>
{% endblock %}