{% extends 'base.html' %}

{% block content %}


    {% block choosedate %}
    <div class="container">
        <div class="btn-group position-relative start-50 top-0 translate-middle-x ">
            {% if cw_day == nw_day %}
                <a href="{% url 'tabel_driver' lw_day %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <<</a>
                <input class="form-control io_current_day border-success border border-3" type="date"   value="{{ cw_day }}"/>
            {% else %}
                <input class="form-control io_current_day border-success border border-3"  type="date"  value="{{ cw_day }}"/>
                <a href="{% url 'tabel_driver' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">>> {{ nw_day }}</a>
            {% endif %}
        </div>
    <div class="position-absolute translate-middle-x  start-50  mb-2 text-nowrap"><b class="fs-5">{{ WEEKDAY }}, {{ DAY }}</b></div>
    </div>
    {% endblock %}

<div class="container-sm m-3 mt-5 mx-auto">
      <div><hr>
    <form method="post" id="drivers_form" enctype="multipart/form-data">{% csrf_token %}
        <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Работает</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
{#      <th scope="col">Телефон</th>#}
      <th scope="col" hidden>id</th>

    </tr>
  </thead>
  <tbody>{% for driver in driver_list %}

    <tr id="row_{{ forloop.counter }}" class="user_row" >
      <th scope="row">{{ forloop.counter }}</th>
        <td><input {% if driver.status  %} checked {% endif %}
              id="inp_{{ forloop.counter }}" type="checkbox" name="staff_status_{{ forloop.counter }}"/></td>
      <td>{{ driver.driver.last_name }}</td>
      <td>{{ driver.driver.first_name }}</td>
{#      <td>{{ driver.driver.telephone }}</td>#}
      <td hidden><input id="drv_id_{{ forloop.counter }}" type="hidden" name="staff_id" value="{{ driver.id }}"></td>

    </tr>
    {% endfor %}
  </tbody>
</table>

    </form>

      </div>
      </div>
    </div>


</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/tabel_staff.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'application_list' cw_day %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page">Назад</a>
    {% if cw_day >= lw_day %}
  <input form="drivers_form" class="btn btn-success  col-auto " type="submit" value="Сохранить">
    {% endif %}
</div>
{% endblock %}