<nav class="navbar fixed-top" style="background-color: rgba(52,58,64,0.89); z-index:100;">
  <div class="container-fluid">
{#    <a class="navbar-brand" style="color: azure" href="/">IWHub </a>#}
    <a class="navbar-brand lh-1 fs-6" style="color: azure" >{{ WEEKDAY_TODAY }}<br>{{ TODAY }} </a>
        {% if user.is_authenticated %}

            {% include "components/user_menu.html" %}
        {% else %}
            <div class="btn-group">
                <a href="{% url 'sign_in' %}" class="btn btn-primary active" aria-current="page">Вход</a>
                <!-- <a href="{% url 'sign_up' %}" class="btn btn-primary">Регистрация</a> -->
            </div>
        {% endif %}

  </div>

</nav>

